@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preservar algunas reglas personalizadas útiles */
:root {
  font-family: 'Manrope', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

#app {
  margin: 0 auto;
}
